# coding: utf-8

"""
    Services API Géorisques

    Description de l'API de Géorisques  # noqa: E501

    OpenAPI spec version: 1.9.4
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class RadonApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def recherche_radon1(self, code_insee, **kwargs):  # noqa: E501
        """Rechercher les potentiels radon des communes  # noqa: E501

        Ce service permet de recherche le potentiel radon d'une ou plusieurs communes. Attention pour les communes de Paris, Lyon et Marseille, seules les informations à  l'arrondissement sont disponibles.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.recherche_radon1(code_insee, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str code_insee: Code(s) INSEE de la commune, si plusieurs codes communes, séparer les codes communes par une virgule, par exemple pour avoir les codes insee 45234 et 45100 : code_insee=45234,45100, le nombre maximum de code est 10 (required)
        :param int page: Numéro de la page
        :param int page_size: Taille des pages
        :return: PaginatedResponseRadon
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.recherche_radon1_with_http_info(code_insee, **kwargs)  # noqa: E501
        else:
            (data) = self.recherche_radon1_with_http_info(code_insee, **kwargs)  # noqa: E501
            return data

    def recherche_radon1_with_http_info(self, code_insee, **kwargs):  # noqa: E501
        """Rechercher les potentiels radon des communes  # noqa: E501

        Ce service permet de recherche le potentiel radon d'une ou plusieurs communes. Attention pour les communes de Paris, Lyon et Marseille, seules les informations à  l'arrondissement sont disponibles.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.recherche_radon1_with_http_info(code_insee, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str code_insee: Code(s) INSEE de la commune, si plusieurs codes communes, séparer les codes communes par une virgule, par exemple pour avoir les codes insee 45234 et 45100 : code_insee=45234,45100, le nombre maximum de code est 10 (required)
        :param int page: Numéro de la page
        :param int page_size: Taille des pages
        :return: PaginatedResponseRadon
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['code_insee', 'page', 'page_size']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method recherche_radon1" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'code_insee' is set
        if ('code_insee' not in params or
                params['code_insee'] is None):
            raise ValueError("Missing the required parameter `code_insee` when calling `recherche_radon1`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'code_insee' in params:
            query_params.append(('code_insee', params['code_insee']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/radon', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PaginatedResponseRadon',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
