# coding: utf-8

"""
    Services API Géorisques

    Description de l'API de Géorisques  # noqa: E501

    OpenAPI spec version: 1.9.4
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class RapportPDFEtJSONApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def generate_rapport_risque(self, **kwargs):  # noqa: E501
        """Cette interface est conçue pour generer un rapport de risque : adresse ou latlon génèrent un rapport à l'adresse. code_insee génère un rapport à la commune.  # noqa: E501

        Cette interface est conçue pour génerer un rapport de risque  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.generate_rapport_risque(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str code_insee: Identifiant unique INSEE de la commune
        :param str latlon: Saisir un point sous la forme longitude,latitude. Le séparateur de décimales est toujours le point. La paire de coordonnées est séparée par une virgule. exemple : 2.29253,48.92572
        :param str adresse: Adresse postale
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.generate_rapport_risque_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.generate_rapport_risque_with_http_info(**kwargs)  # noqa: E501
            return data

    def generate_rapport_risque_with_http_info(self, **kwargs):  # noqa: E501
        """Cette interface est conçue pour generer un rapport de risque : adresse ou latlon génèrent un rapport à l'adresse. code_insee génère un rapport à la commune.  # noqa: E501

        Cette interface est conçue pour génerer un rapport de risque  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.generate_rapport_risque_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str code_insee: Identifiant unique INSEE de la commune
        :param str latlon: Saisir un point sous la forme longitude,latitude. Le séparateur de décimales est toujours le point. La paire de coordonnées est séparée par une virgule. exemple : 2.29253,48.92572
        :param str adresse: Adresse postale
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['code_insee', 'latlon', 'adresse']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method generate_rapport_risque" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'code_insee' in params:
            query_params.append(('code_insee', params['code_insee']))  # noqa: E501
        if 'latlon' in params:
            query_params.append(('latlon', params['latlon']))  # noqa: E501
        if 'adresse' in params:
            query_params.append(('adresse', params['adresse']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/rapport_pdf', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[str]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def generate_rapport_risque_json(self, **kwargs):  # noqa: E501
        """Résultats du rapport des risques près de chez moi  # noqa: E501

        Cette interface est conçue pour fournir les résultats des rapports des risques près de chez moi.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.generate_rapport_risque_json(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str code_insee: Identifiant unique INSEE de la commune
        :param str latlon: Saisir un point sous la forme longitude,latitude. Le séparateur de décimales est toujours le point. La paire de coordonnées est séparée par une virgule. exemple : 2.29253,48.92572
        :param str adresse: Adresse postale
        :return: RapportRisquesJsonDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.generate_rapport_risque_json_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.generate_rapport_risque_json_with_http_info(**kwargs)  # noqa: E501
            return data

    def generate_rapport_risque_json_with_http_info(self, **kwargs):  # noqa: E501
        """Résultats du rapport des risques près de chez moi  # noqa: E501

        Cette interface est conçue pour fournir les résultats des rapports des risques près de chez moi.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.generate_rapport_risque_json_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str code_insee: Identifiant unique INSEE de la commune
        :param str latlon: Saisir un point sous la forme longitude,latitude. Le séparateur de décimales est toujours le point. La paire de coordonnées est séparée par une virgule. exemple : 2.29253,48.92572
        :param str adresse: Adresse postale
        :return: RapportRisquesJsonDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['code_insee', 'latlon', 'adresse']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method generate_rapport_risque_json" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'code_insee' in params:
            query_params.append(('code_insee', params['code_insee']))  # noqa: E501
        if 'latlon' in params:
            query_params.append(('latlon', params['latlon']))  # noqa: E501
        if 'adresse' in params:
            query_params.append(('adresse', params['adresse']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/resultats_rapport_risque', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='RapportRisquesJsonDto',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
